@import "tailwindcss";

@theme {
  --color-moto-black: #111111;
  --color-moto-red: #dc2626;
  --color-moto-white: #f3f4f6;
  --color-moto-dark-gray: #1f2937;

  --font-display: "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* Custom Utilities if needed */
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.hover-anim {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hover-anim::before,
.hover-anim::after {
  content: "";
  position: absolute;
  background-color: #A6A6A6;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.hover-anim::before {
  top: 0;
  left: 0;
  transform-origin: left;
}

.hover-anim::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}

.hover-anim:hover::before,
.hover-anim:hover::after {
  transform: scaleX(1);
}
