---
import TitleSection from "../components/ui/title-section.astro";
---

<section id="about-us" class="py-20 bg-moto-dark">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <TitleSection title="Sobre nosotros" />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div
        class="bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs"
      >
        <h2 class="text-2xl font-bold mb-4">Nuestra historia</h2>
        <p class="text-body">
          Somos una empresa fundada en 2020 con el objetivo de brindar servicios
          de calidad a nuestros clientes.
        </p>
      </div>
      <div
        class="bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs"
      >
        <h2 class="text-2xl font-bold mb-4">Nuestra misi贸n</h2>
        <p class="text-body">
          Nuestra misi贸n es brindar servicios de calidad a nuestros clientes y
          satisfacer sus necesidades.
        </p>
      </div>
      <div
        class="bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs"
      >
        <h2 class="text-2xl font-bold mb-4">Nuestra visi贸n</h2>
        <p class="text-body">
          Nuestra visi贸n es ser la mejor empresa en el mercado y brindar
          servicios de calidad a nuestros clientes.
        </p>
      </div>
    </div>
  </div>
</section>
