---
import TitleSection from "../components/ui/title-section.astro";
---

<section id="about-us" class="py-20 bg-moto-dark">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <TitleSection title="Sobre nosotros" />
  </div>
</section>
