---
import { promos } from "../data/menu";
---

<section id="promos" class="py-20 bg-moto-dark-gray">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-16">
            <h2
                class="text-4xl font-bold text-moto-white uppercase tracking-tighter italic"
            >
                Promociones <span class="text-moto-red">de la Estación</span>
            </h2>
            <div class="h-1 w-20 bg-moto-red mx-auto transform -skew-x-12">
            </div>
        </div>
    </div>
</section>
