---
const { src, alt } = Astro.props;
---

<div class="flex items-center gap-2">
  <img src={src} alt={alt} class="w-16" />
  <p
    class="hover-anim text-moto-white font-bold text-xl tracking-tighter uppercase italic transform -skew-x-12 pr-2"
  >
    LA<span class="text-moto-red"> ESTACION </span>28
  </p>
</div>
