---
const { title, title2, subtitle } = Astro.props;
---

<h1
  class="text-5xl md:text-7xl font-bold text-moto-red mb-6 tracking-tighter uppercase italic"
>
  <span class="text-moto-white">{title}</span>
  {title2}
</h1>
<p class="text-xl md:text-2xl text-gray-300 mb-8 max-w-2xl mx-auto">
  {subtitle}
</p>
